* {
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
    /* font-family: FontAwesome, monospace; */
    font-size: 13px;
}

window#waybar {
    background-color: rgba(34, 34, 34, 1.0);
    border-bottom: 0px solid rgba(34, 34, 34, 1.0);
    color: #bbbbbb;
    /* transition-property: background-color;
    transition-duration: .3s; */
}

window#waybar.hidden {
    opacity: 0.4;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/*
you can set a style on hover for any module like this 
#pulseaudio:hover {
    background-color: #a37800;
}
*/

#workspaces button {
    padding: 0 5px;
    /* background-color: transparent; */
    background-color: #222222;
    color: #bbbbbb;
}


#workspaces button:hover {
    background: rgba(255, 255, 255, 0); 
}



#workspaces button.focused, #workspaces button.active {
    background-color: #005577;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}


#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window {
    background-color: #005577;
	color: #bbbbbb;
}

/*
#hyprland-window {
    background-color: #005577;
	color: #bbbbbb;
}
*/

#workspaces {
    margin: 0 3px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #005577;
    color: #bbbbbb;
}

#battery {
    background-color: #005577;
    color: #bbbbbb;
}

#battery.charging, #battery.plugged {
    color: #bbbbbb;
    background-color: #007733;
}

@keyframes blink {
    to {
        background-color: #222222;
        color: #bbbbbb;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #770033;
    color: #bbbbbb;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #770033;
    color: #bbbbbb;
}

#power-profiles-daemon.balanced {
    background-color: #005577;
    color: #bbbbbb;
}

#power-profiles-daemon.power-saver {
    background-color: #007733;
    color: #bbbbbb;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #005577;
    color: #bbbbbb;
}

#memory {
    background-color: #005577;
    color: #bbbbbb;
}

#disk {
    background-color: #005577;
    color: #bbbbbb;
}

#backlight {
    background-color: #005577;
    color: #bbbbbb;
}

#network {
    background-color: #005577;
    color: #bbbbbb;
}

#network.disconnected {
    background-color: #770033;
    color: #bbbbbb;
}

#pulseaudio {
    background-color: #005577;
    color: #bbbbbb;
}

#pulseaudio.muted {
    background-color: #222222;
    color: #bbbbbb;
}

#wireplumber {
    background-color: #005577;
    color: #bbbbbb;
}

#wireplumber.muted {
    background-color: #222222;
    color: #bbbbbb;
}

#custom-media {
    background-color: #005577;
    color: #bbbbbb;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #005577;
}

#custom-media.custom-vlc {
    background-color: #005577;
}

#temperature {
    background-color: #005577;
    color: #bbbbbb;
}

#temperature.critical {
    background-color: #770033;
    color: #bbbbbb;
}

#tray {
    background-color: #bbbbbb;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #770033;
}

#idle_inhibitor {
    background-color: #222222;
    color: #bbbbbb;
}

#idle_inhibitor.activated {
    background-color: #005577;
    color: #bbbbbb;
}

#mpd {
    background-color: #005577;
    color: #bbbbbb;
}

#mpd.disconnected {
    background-color: #770033;
    color: #bbbbbb;
}

#mpd.stopped {
    background-color: #555555;
    color: #bbbbbb;
}

#mpd.paused {
    background-color: #774400;
    color: #bbbbbb;
}

#language {
    background: #005577;
    color: #bbbbbb;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #005577;
    color: #bbbbbb;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #774400;
}

#privacy-item.audio-in {
    background-color: #440077;
}

#privacy-item.audio-out {
    background-color: #550077;
}
